<html>
    <head>
        <title>TrelloList</title>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3 ">
                <a class="navbar-brand" href="#">TrelloList</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li
                            v-if="me"
                            class="nav-item dropdown"
                        >
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ me.fullName }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    @click="logout"
                                >Sair</a>
                            </div>
                        </li>
                        <li v-else class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" @click="authorize">Acessar sistema</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <div v-if="error" class="alert alert-danger">{{ error }}</div>

                <div v-if="me">
                    <div class="card border-primary mb-3" v-if="meCards.length > 0">
                        <h4 class="card-header bg-primary text-white">Minhas tarefas</h4>
                        <ul class="list-group list-group-flush">
                            <tl-card
                                v-for="card in meCards"
                                :key="card.id"
                                :card="card"
                            ></tl-card>
                        </ul>
                    </div>

                    <div
                        class="card border-primary mb-3"
                        v-if="boards.length > 0"
                        v-for="board in boards"
                    >
                        <h4 class="card-header bg-primary text-white">
                            <a :href="board.url" target="_blank" class="text-white">{{board.name}}</a>
                        </h4>
                        <ul class="list-group list-group-flush">
                            <tl-card
                                v-for="card in cards[board.id]"
                                :key="card.id"
                                :card="card"
                            ></tl-card>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <style type="text/css">
        body {
            background-color: #026aa7;
        }
        </style>

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>

        <script src="https://api.trello.com/1/client.js?key=1c97102fc954f35b60f9d14d7b35a679"></script>

        <script type="text/javascript">

        Vue.component('tl-label', {
            props: ['name', 'color'],
            template: '#label-template',
            computed: {
                backgroundColor: function() {
                    return { 'background-color': this.color };
                }
            }
        });

        Vue.component('tl-card', {
            props: ['card'],
            template: '#card-template'
        });

        Vue.component('tl-member', {
            props: ['username'],
            template: '#member-template'
        });

        Vue.component('tl-due', {
            props: ['due'],
            template: '#due-template'
        });

        var app = new Vue({
            el: '#app',
            data: {
                error: null,
                boards: [],
                lists: {},
                cards: {},
                meCards: [],
                me: null
            },
            mounted: function() {
                this.authorize();
            },
            methods: {
                authorize: function() {
                    var vm = this;

                    window.Trello.authorize({
                        type: 'popup',
                        name: 'Getting Started Application',
                        scope: {
                            read: 'true',
                            write: 'true'
                        },
                        expiration: 'never',
                        success: function() {
                            vm.getMe();
                            vm.getMeCards();
                            vm.getBoards();
                        },
                        error: function() {
                            vm.error = 'Failed authentication';
                        }
                    });
                },

                logout: function() {
                    Trello.deauthorize();
                    this.error = null;
                    this.boards = [];
                    this.lists = {};
                    this.cards = {};
                    this.meCards = [];
                    this.me = null;
                },

                getMe: function() {
                    var vm = this;
                    Trello.get('members/me', function(response){
                        vm.me = response;
                    }, function(error) {
                        vm.error = error;
                    });
                },

                getBoards: function() {
                    var vm = this;
                    Trello.get('/member/me/boards?filter=open', function(response) {
                        vm.boards = response;

                        vm.boards.map(function(board) {
                            vm.getLists(board.id);
                            vm.getVisibleCards(board.id);
                        });
                    }, function(error) {
                        vm.error = error;
                    });
                },

                getLists: function(boardId) {
                    var vm = this;
                    Trello.get('/boards/'+boardId+'/lists/open', function(response) {
                        vm.$set(vm.lists, boardId, response);
                    }, function(error) {
                        vm.error = error;
                    });
                },

                getMeCards: function() {
                    var vm = this;
                    Trello.get('/members/me/cards/?filter=visible&fields=id,name,url,labels,due&members=true&member_fields=username', function(response) {
                        vm.meCards = response;
                    }, function(error) {
                        vm.error = error;
                    });
                },

                getVisibleCards: function(boardId) {
                    var vm = this;
                    Trello.get('/boards/'+boardId+'/cards/visible?fields=id,name,url,labels,due&members=true&member_fields=username', function(response) {
                        vm.$set(vm.cards, boardId, response);
                    }, function(error) {
                        vm.error = error;
                    });
                }
            }
        });
        </script>

        <script type="text/x-template" id="label-template">
            <span
                class="badge badge-primary float-right mr-1"
                :style="backgroundColor"
            >
                {{name}}
            </span>
        </script>

        <script type="text/x-template" id="member-template">
            <span class="badge badge-light mr-1">
                @{{username}}
            </span>
        </script>

        <script type="text/x-template" id="due-template">
            <span class="badge badge-light mr-1"><i class="far fa-clock"></i> {{due}}</span>
        </script>

        <script type="text/x-template" id="card-template">
            <li class="list-group-item">
                <tl-label
                    v-for="label in card.labels"
                    :key="label.id"
                    :name="label.name"
                    :color="label.color"
                >
                </tl-label>
                
                <a :href="card.url" target="_blank">
                    <strong>{{ card.name }}</strong>
                </a>
                
                <tl-due
                    v-if="card.due"
                    :due="card.due"
                ></tl-due>
                
                <div v-if="card.members">
                    <tl-member
                        v-for="member in card.members"
                        :key="member.username"
                        :username="member.username"
                    ></tl-member>
                </div>
            </li>
        </script>
    </body>
</html>